@model AcunMedyaAkademiPortfolio.Models.TblAdress
@{
    ViewBag.Title = "UpdateAdress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2> Update Address</h2>

<form method="post">
    <label>Address Id</label>
    <input type="text" class="form-control" name="AdressId" value="@Model.AdressId" />
    <label>Address</label>
    <input type="text" class="form-control" name="Adress" value="@Model.Adress" />
    <label>Phone Number</label>
    <input type="text" class="form-control" name="Phone" value="@Model.Phone" />
    <label>Email</label>
    <input type="text" class="form-control" name="Email" value="@Model.Email" />
    <label>Website</label>
    <input type="text" class="form-control" name="Website" value="@Model.Website" />

    <button class="btn btn-info"> Update Address</button>
</form>