@model List<AcunMedyaAkademiPortfolio.Models.TblSkills>
@{
    ViewBag.Title = "SkillsList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h2>Skill</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Value</th>
        <th>Last Week</th>
        <th>Last Month</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.Title</td>
            <td>@item.Value</td>
            <td>@item.LastWeekValue</td>
            <td>@item.LastMonthValue</td>
            <td><a href="/Skills/UpdateSkill/@item.SkillId" class="btn btn-warning">Update</a></td>
            <td><a href="/Skills/DeleteSkill/@item.SkillId" class="btn btn-danger">Delete</a></td>
        </tr>
    }
    </table>
<a href="/Skills/CreateSkill"class="btn btn-success">Add New Skill</a>
