@model AcunMedyaAkademiPortfolio.Models.TblSkills 
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Update Skill</h2>

<form method="post">
    <label>Skill Id</label>
    <input type="text" class="form-control" name="SkillId" value="@Model.SkillId"/>
    <label>Title</label>
    <input type="text" class="form-control" name="Title" value="@Model.Title"/>
    <label>Value</label>
    <input type="text" class="form-control" name="Value" value="@Model.Value" />
    <label>Last Week Value</label>
    <input type="text" class="form-control" name="LastWeekValue" value="@Model.LastWeekValue"/>
    <label>Last Month Value</label>
    <input type="text" class="form-control" name="LastMonthValue" value="@Model.LastMonthValue"/>
    <br />
    <button class="btn btn-info">Update Skill</button>
</form>
