@Model List <using AcunMedyaAkademiPortfolio.Models.TblProfile>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Address</th>
            <th>Email</th>
            <th>PhoneNumber</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProfileId</td>
                <td>@item.Name</td>
                <td>@item.Birthday</td>
                <td>@item.Adress</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td><a href="/Profile/CreateProfile/@item.ProfileId" class="btn btn-warning">Update</a></td>
                <td><a href="/Profile/DeleteProfile/@item.ProfileId" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </table>
    <td><a href="/Profile/CreateProfile/" class="btn btn-success">Add New Profile</a></td>


