@model AcunMedyaAkademiPortfolio.Models.TblProfile
@{
    @{
        ViewBag.Title = "UpdateProfile";
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }


    <h2>Profil Güncelleme</h2>

    <form method="post">
        <label>Profil ID</label>
        <input type="text" class="form-control" name="ProfileId" value="@Model.ProfileId" />
        <label>İsim</label>
        <input type="text" class="form-control" name="Name" value="@Model.Name" />
        <label>Dotum Tarihi</label>
        <input type="text" class="form-control" name="Birthday" value="@Model.Birthday" />
        <label>Adres</label>
        <input type="text" class="form-control" name="Adress" value="@Model.Adress" />
        <label>Email</label>
        <input type="text" class="form-control" name="Email" value="@Model.Email" />
        <label>Telefon Numarası</label>
        <input type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" />
    </form>
