﻿@model List<AcunMedyaAkademiPortfolio.Models.TblProfile>

@foreach (var item in Model)
{
    <ul class="about-info mt-4 px-md-0 px-2">
        <li class="d-flex"><span>Name:</span> <span>@item.Name</span></li>
        <li class="d-flex"><span>Birthday:</span> <span>@item.Birthday</span></li>
        <li class="d-flex"><span>Adres:</span> <span>@item.Adress</span></li>
        <li class="d-flex"><span>Email:</span> <span>@item.Email</span></li>
        <li class="d-flex"><span>Phone Number: </span> <span>@item.PhoneNumber</span></li>
    </ul>
}