﻿@model List<AcunMedyaAkademiPortfolio.Models.TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Contact</h2>

<table class="table table-bordered">

    <tr>
        <td>#</td>
        <td>Name-Surname</td>
        <td>Subject</td>
        <td>Email</td>
        <td>Description</td>
        <td>Date</td>


    </tr>
    @foreach (var item in Model) 
    {
        <tr>
            <td>@item.ContactId</td>
            <td>@item.Name</td>
            <td>@item.Subject</td>
            <td>@item.Email</td>
            <td>@item.Description</td>
            <td>@item.CreateDate</td>
            <br />
            <td><a href="/Contact/UpdateContact/@item.ContactId" class="btn btn-warning">Update</a></td>
            <td><a href="/Contact/DeleteContact/@item.ContactId" class="btn btn-danger">Delete</a></td>

        </tr>

    }
</table>
<th><a href="/Contact/CreateContact" class="btn d-block btn-success">Add New Contact</a></th>