@model AcunMedyaAkademiPortfolio.Models.TblTestimonial
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2> Referans Güncelleme</h2>
<form method="post">
    <label>Referans Id'si'</label>
    @Html.TextBoxFor(x => x.TestimonialId, new { @class = "form-control" })
    <br />
    <label>Referans ismi</label>
    @Html.TextBoxFor(x => x.TestimonialName, new { @class = "form-control" })
    <br />
    <label>Referans Mesleği</label>
    @Html.TextBoxFor(x => x.TestimonialTitle, new { @class = "form-control" })
    <br />
    <label>Referans açıklaması</label>
    @Html.TextBoxFor(x => x.TestimonialDescription, new { @class = "form-control" })
    <br />
    <label>Referans resmi</label>
    @Html.TextBoxFor(x => x.TestimonialImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Referansı Güncelle</button>
</form>
